//
function String.new 1
//
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
lt
pop temp 1
push temp 1
push temp 1
not
if-goto String.new.if.0
push constant 1
pop argument 0
label String.new.if.0
pop temp 1
push constant 0
pop this 2
push argument 0
pop this 1
push argument 0
call Array.new 1
pop this 0
push constant 0
pop local 0
label String.new.while.0
push local 0
push argument 0
lt
not
if-goto String.new.while.1
push this 0
push local 0
add
pop pointer 1
push constant 32
pop that 0
push local 0
push constant 1
add
pop local 0
goto String.new.while.0
label String.new.while.1
push pointer 0
return

//
function String.dispose 1
//
push argument 0
pop pointer 0
push constant 0
pop this 1
push constant 0
pop this 2
push this 0
call Array.dispose 1
pop temp 0
return

//
function String.length 1
//
push argument 0
pop pointer 0
push this 1
return

//
function String.charAt 1
//
push argument 0
pop pointer 0
push argument 1
push constant 0
lt
pop temp 1
push temp 1
push temp 1
not
if-goto String.charAt.if.0
push this 1
push argument 1
add
call Math.abs 1
pop argument 1
label String.charAt.if.0
pop temp 1
push argument 1
push this 1
gt
push argument 1
push this 1
eq
or
pop temp 1
push temp 1
push temp 1
not
if-goto String.charAt.if.1
push argument 1
push this 1
call Math.mod 2
pop argument 1
label String.charAt.if.1
pop temp 1
push pointer 1
push this 0
push argument 1
add
pop pointer 1
push that 0
pop temp 2
pop pointer 1
push temp 2
return

//
function String.setCharAt 1
//
push argument 0
pop pointer 0
push argument 1
push constant 0
lt
pop temp 1
push temp 1
push temp 1
not
if-goto String.setCharAt.if.0
push this 1
push argument 1
add
call Math.abs 1
pop argument 1
label String.setCharAt.if.0
pop temp 1
push argument 1
push this 1
gt
push argument 1
push this 1
eq
or
pop temp 1
push temp 1
push temp 1
not
if-goto String.setCharAt.if.1
push argument 1
push this 1
call Math.mod 2
pop argument 1
label String.setCharAt.if.1
pop temp 1
push this 0
push argument 1
add
pop pointer 1
push argument 2
pop that 0
return

//
function String.appendChar 1
//
push argument 0
pop pointer 0
push this 2
push this 1
eq
pop temp 1
push temp 1
push temp 1
not
if-goto String.appendChar.if.0
push pointer 0
push constant 1
call String.grow 2
pop temp 0
label String.appendChar.if.0
pop temp 1
push this 0
push this 2
add
pop pointer 1
push argument 1
pop that 0
push this 2
push constant 1
add
pop this 2
push pointer 0
return

//
function String.slice 2
//
push argument 0
pop pointer 0
push argument 1
push argument 2
eq
pop temp 1
push temp 1
push temp 1
not
if-goto String.slice.if.0
push constant 1
call String.new 1
pop local 0
push local 0
push pointer 0
push argument 1
call String.charAt 2
call String.appendChar 2
pop temp 0
label String.slice.if.0
if-goto String.slice.goto.0
push argument 1
push argument 2
lt
pop temp 1
push temp 1
push temp 1
not
if-goto String.slice.if.1
push argument 2
push argument 1
sub
push constant 1
add
call String.new 1
pop local 0
label String.slice.while.0
push argument 1
push argument 2
lt
push argument 1
push argument 2
eq
or
not
if-goto String.slice.while.1
push local 0
push pointer 0
push argument 1
call String.charAt 2
call String.appendChar 2
pop temp 0
push argument 1
push constant 1
add
pop argument 1
goto String.slice.while.0
label String.slice.while.1
label String.slice.if.1
if-goto String.slice.goto.1
push argument 1
push argument 2
sub
push constant 1
add
call String.new 1
pop local 0
label String.slice.while.2
push argument 1
push argument 2
gt
push argument 1
push argument 2
eq
or
not
if-goto String.slice.while.3
push local 0
push pointer 0
push argument 1
call String.charAt 2
call String.appendChar 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
goto String.slice.while.2
label String.slice.while.3
label String.slice.goto.1
label String.slice.goto.0
push local 0
return

//
function String.grow 3
//
push argument 0
pop pointer 0
push this 1
push constant 1
add
call Array.new 1
pop local 1
push constant 0
pop local 0
label String.grow.while.0
push local 0
push this 1
lt
not
if-goto String.grow.while.1
push local 1
push local 0
add
pop pointer 1
push pointer 0
push local 0
call String.charAt 2
pop that 0
push local 0
push constant 1
add
pop local 0
goto String.grow.while.0
label String.grow.while.1
push this 0
call Array.dispose 1
pop temp 0
push local 1
pop this 0
push this 1
push constant 1
add
pop this 1
return

//
function String.eraseLastChar 1
//
push argument 0
pop pointer 0
push this 2
push constant 0
gt
pop temp 1
push temp 1
push temp 1
not
if-goto String.eraseLastChar.if.0
push this 2
push constant 1
sub
pop this 2
push this 1
push constant 1
sub
pop this 1
label String.eraseLastChar.if.0
pop temp 1
return

//
function String.intValue 4
//
push argument 0
pop pointer 0
push pointer 0
push constant 0
call String.charAt 2
push constant 45
eq
pop temp 1
push temp 1
push temp 1
not
if-goto String.intValue.if.0
push constant 1
pop local 0
label String.intValue.if.0
if-goto String.intValue.goto.0
push constant 0
pop local 0
label String.intValue.goto.0
push constant 0
pop local 1
label String.intValue.while.0
push local 0
push this 1
lt
not
if-goto String.intValue.while.1
push local 1
push constant 10
call Math.multiply 2
push pointer 1
push this 0
push local 0
add
pop pointer 1
push that 0
pop temp 2
pop pointer 1
push temp 2
push constant 48
sub
add
pop local 1
push local 0
push constant 1
add
pop local 0
goto String.intValue.while.0
label String.intValue.while.1
push pointer 0
push constant 0
call String.charAt 2
push constant 45
eq
pop temp 1
push temp 1
push temp 1
not
if-goto String.intValue.if.1
push local 1
neg
return
label String.intValue.if.1
pop temp 1
push local 1
return

//
function String.setInt 4
//
push argument 0
pop pointer 0
push argument 1
call Math.abs 1
pop local 1
push local 1
push constant 10
call Math.mod 2
pop local 0
push local 0
push constant 48
add
pop local 2
push local 1
push constant 10
lt
pop temp 1
push temp 1
push temp 1
not
if-goto String.setInt.if.0
push constant 1
pop this 1
push constant 0
pop this 2
push argument 1
push constant 0
lt
pop temp 1
push temp 1
push temp 1
not
if-goto String.setInt.if.1
push pointer 0
push constant 45
call String.appendChar 2
pop temp 0
label String.setInt.if.1
pop temp 1
push pointer 0
push local 2
call String.appendChar 2
pop temp 0
label String.setInt.if.0
if-goto String.setInt.goto.0
push pointer 0
push argument 1
push constant 10
call Math.divide 2
call String.setInt 2
pop temp 0
push pointer 0
push local 2
call String.appendChar 2
pop temp 0
label String.setInt.goto.0
return

//
function String.newLine 0
//
push constant 128
return

//
function String.backSpace 0
//
push constant 129
return

//
function String.doubleQuote 0
//
push constant 34
return